# =========================================================
# DJANGO
# =========================================================
DJANGO_DEBUG=1
DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
DJANGO_CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# =========================================================
# DATABASE
# =========================================================
# Si POSTGRES_DB está vacío, el sistema puede usar SQLite según settings.py.
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# =========================================================
# SECURITY / HTTPS
# =========================================================
DJANGO_SECURE_PROXY_SSL_HEADER=0
DJANGO_SESSION_COOKIE_SECURE=0
DJANGO_CSRF_COOKIE_SECURE=0
