# ==========================================================
# ENTORNOS PYTHON
# ==========================================================
venv/
env/

# ==========================================================
# PYTHON
# ==========================================================
__pycache__/
*.py[cod]

# ==========================================================
# DJANGO
# ==========================================================
staticfiles/
media/
data/
db.sqlite3
*.sqlite3

# ==========================================================
# VARIABLES SENSIBLES / LICENCIAS
# ==========================================================
.env
*.env
license.json

# ==========================================================
# NODE / FRONTENDS
# ==========================================================
admin-frontend/node_modules/
web-frontend/node_modules/

admin-frontend/dist/
web-frontend/dist/

# ==========================================================
# BUILDS WINDOWS
# ==========================================================
dist/
build/
*.spec

# ==========================================================
# IDE / SISTEMA
# ==========================================================
.vscode/
.DS_Store
Thumbs.db

# ==========================================================
# ARCHIVOS TEMPORALES / BACKUPS
# ==========================================================
*.bak

# ==========================================================
# DATOS DE IMPORTACIÓN
# ==========================================================
productos_cedisa.csv